---
import PortableTextImage from './PortableTextImage.astro'
import { PortableText as PortableTextInternal } from 'astro-portabletext'

const { portableText } = Astro.props

const components = {
  type: {
    image: PortableTextImage,
  },
}
---

<div class="text-thin prose max-w-none text-3xl font-light text-white prose-h3:text-4xl prose-h3:font-bold prose-h3:text-white">
  <PortableTextInternal value={portableText} components={components} />
</div>
