---
import PortableTextImage from './PortableTextImage.astro'
import { PortableText as PortableTextInternal } from 'astro-portabletext'

const { portableText } = Astro.props

const components = {
  type: {
    image: PortableTextImage,
  },
}
---

<div
  class="prose max-w-none text-xl font-normal text-white prose-h3:text-2xl prose-h3:font-bold prose-h3:text-white md:text-2xl md:prose-h3:text-3xl lg:text-3xl lg:prose-h3:text-4xl"
>
  <PortableTextInternal value={portableText} components={components} />
</div>
