---
import Layout from 'src/layouts/Layout.astro'
import { Image } from 'astro:assets'
import alex from 'src/assets/alex.png'
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <section class="w-full bg-primary">
    <div
      class="container h-full mx-auto min-h-screen gap-10 py-20 md:pb-20 flex md:flex-row flex-col-reverse items-center px-5 md:px-10 lg:px-12"
    >
      <div class="md:w-[60%] w-full flex flex-col gap-5">
        <h1 class="text-white uppercase md:text-5xl text-4xl lg:text-6xl font-bold pb-4">About me</h1>
        <p class="text-white md:text-2xl text-xl lg:text-3xl font-medium max-w-[670px]">
          UI/UX designer with over three years of experience in crafting digital experiences. My expertise spans across websites, mobile
          apps, branding and visual direction. My passion lies in not just meeting but exceeding my clients' expectations, infusing every
          project with creativity, precision and a touch of positivity. <br />
          <br /> Beyond the world of design, you'll often find me strumming my guitar, riding my bicycle and enjoying animated movies and
          sitcoms.
        </p>
      </div>
      <div class="w-full md:w-[40%]">
        <Image src={alex} alt="alex" class="w-full aspect-square" />
      </div>
    </div>
  </section>
</Layout>
