---
import Layout from 'src/layouts/Layout.astro'
---

<Layout headerStyle footerStyle title="Contact" description="Lorem ipsum dolor sit amet">
  <section class="w-full bg-secondary">
    <div class="container mx-auto flex h-full min-h-screen items-center px-5 md:px-10 lg:px-12">
      <h1 class="pb-4 text-4xl font-bold uppercase text-lightGray md:text-5xl lg:text-[117px]">let’s work <br /> together</h1>
    </div>
  </section>
</Layout>
