---
import { SectionContainer } from 'src/components/react'
import { SITE_TITLE_PREFIX, SITE_DESCRIPTION } from 'src/config'
import Layout from 'src/layouts/Layout.astro'

const CONTACT_PAGE_TITLE = `${SITE_TITLE_PREFIX} Contact`
const CONTACT_PAGE_DESCRIPTION = SITE_DESCRIPTION
---

<Layout headerVariant footerVariant title={CONTACT_PAGE_TITLE} description={CONTACT_PAGE_DESCRIPTION}>
  <SectionContainer className="bg-secondary" containerClass="h-[65vh]">
    <h1 class="text-4xl font-bold uppercase text-lightGray md:text-5xl lg:text-[117px]">let’s work <br /> together</h1>
  </SectionContainer>
</Layout>
