---
import Layout from 'src/layouts/Layout.astro'
---

<Layout headerStyle footerStyle title="Contact" description="Lorem ipsum dolor sit amet">
  <section class="w-full bg-secondary">
    <div class="container h-full mx-auto min-h-screen flex items-center px-5 md:px-10 lg:px-12">
      <h1 class="text-lightGray uppercase md:text-5xl text-4xl lg:text-[117px] font-bold pb-4">let’s work <br /> together</h1>
    </div>
  </section>
</Layout>
