---
import Layout from 'src/layouts/Layout.astro'
import { ProjectSection, SectionContainer } from 'src/components/react'
import { useGetProjectsQuery } from 'src/clients/sanity'
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/config'

export async function getProjects() {
  return await useGetProjectsQuery(true)
}

const projects = await getProjects()
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <SectionContainer className="pb-28" containerClass="border-b py-24 border-white">
    <p class="max-w-screen-lg text-5xl font-bold uppercase text-white md:text-7xl lg:text-[115px] lg:leading-[115px]">
      Turning ideas into digital dreams
    </p>
    <!-- <AnimatedText text="Turning ideas into digital dreams" /> -->
  </SectionContainer>
  <SectionContainer className="bg-primary" containerClass="py-24">
    <p class="max-w-screen-xl pr-20 text-4xl text-gray md:text-6xl lg:text-[80px] lg:leading-[100px]">
      Hi, I&apos;am Alex, <span
        class="underline decoration-secondary underline-offset-[6px] md:underline-offset-[12px] lg:underline-offset-[20px]"
        >UI/UX Designer</span
      >. <br /> Let&apos;s bring freshnes and fun to your project!
    </p>
  </SectionContainer>

  {projects.map((project) => <ProjectSection client:only {...project} />)}
</Layout>
