---
import Layout from 'src/layouts/Layout.astro'
import { ProjectSection, SectionContainer, AnimatedText, AnimatedSection } from 'src/components/react'
import { useGetProjectsQuery } from 'src/clients/sanity'
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/config'

export async function getProjects() {
  return await useGetProjectsQuery(true)
}

const projects = await getProjects()
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <SectionContainer className="pb-28" containerClass="border-b py-24 border-white">
    <AnimatedText client:only />
  </SectionContainer>
  <SectionContainer className="bg-primary" containerClass="py-24">
    <AnimatedSection client:only />
  </SectionContainer>
  <SectionContainer disableHeight>
    <div class="flex items-center justify-end gap-3 pb-12" id="work">
      <span class="text-lg uppercase text-white md:text-xl lg:text-2xl"> Work</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="39" viewBox="0 0 23 39" fill="none">
        <path
          d="M10.8811 38.0605C11.4669 38.6463 12.4167 38.6463 13.0025 38.0605L22.5484 28.5146C23.1342 27.9288 23.1342 26.9791 22.5484 26.3933C21.9626 25.8075 21.0129 25.8075 20.4271 26.3933L11.9418 34.8785L3.45655 26.3932C2.87076 25.8074 1.92102 25.8074 1.33523 26.3932C0.74944 26.979 0.749437 27.9287 1.33522 28.5145L10.8811 38.0605ZM10.4419 -0.000157927L10.4418 36.9998L13.4418 36.9998L13.4419 -0.000149618L10.4419 -0.000157927Z"
          fill="white"></path>
      </svg>
    </div>
  </SectionContainer>
  {projects.map((project) => <ProjectSection client:only {...project} />)}
</Layout>
