---
import FooterLink from 'src/components/FooterLink.astro'
import { CONTACT_EMAIL_ADDRESS, FOOTER_LINKS } from 'src/config'
---

<footer class="w-full bg-primary">
  <div
    class="container mx-auto flex w-full flex-col items-center justify-between gap-8 border-t border-white px-5 py-14 text-white md:flex-row md:gap-0 md:px-10 lg:px-12"
  >
    <a
      class="text-lg font-bold leading-7 tracking-wide hover:text-secondary md:text-xl lg:text-2xl lg:leading-7"
      href=`mailto:${CONTACT_EMAIL_ADDRESS}`
      rel="noopener noreferrer">{CONTACT_EMAIL_ADDRESS}</a
    >
    <ul
      class="flex items-center gap-2 text-lg font-bold uppercase leading-7 tracking-wide md:gap-8 md:text-xl lg:gap-28 lg:text-2xl lg:leading-7"
    >
      {FOOTER_LINKS.map((link) => <FooterLink {...link} />)}
    </ul>
  </div>
</footer>
