---
import classNames from 'classnames'
type Props = { styling?: boolean }
const { styling } = Astro.props
---

<footer class={classNames('w-full', `${styling ? 'bg-secondary' : 'bg-primary'}`)}>
  <div
    class={classNames(
      'container mx-auto flex w-full flex-col items-center justify-between gap-8 border-t px-5 py-14 md:flex-row md:gap-0 md:px-10 lg:px-12',
      `${styling ? 'text-black' : 'text-white'} `,
    )}
  >
    <a class="text-lg font-bold leading-7 tracking-wide md:text-xl lg:text-2xl lg:leading-7" href="mailto:aleksandra@alexuix.design"
      >aleksandra@alexuix.design</a
    >
    <ul class="flex items-center gap-2 md:gap-8 lg:gap-28">
      <li>
        <a href="/" class="text-lg font-bold uppercase leading-7 tracking-wide md:text-xl lg:text-2xl lg:leading-7">Dribble</a>
      </li>
      <li>
        <a href="/" class="text-lg font-bold uppercase leading-7 tracking-wide md:text-xl lg:text-2xl lg:leading-7">Behance</a>
      </li>
      <li>
        <a href="/" class="text-lg font-bold uppercase leading-7 tracking-wide md:text-xl lg:text-2xl lg:leading-7">LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>
