---
import Logo from './Logo.astro'
import { SITE_OWNER } from 'src/config'

const today = new Date()
---

<footer class="border-primary flex flex-col border-t border-opacity-40 py-12 xl:py-24 2xl:flex-row 2xl:items-center 2xl:justify-center">
  <div class="flex flex-col items-start">
    <h3 class="font-nunito text-center text-3xl font-black tracking-[-1px] text-white lg:text-4xl 2xl:text-6xl 2xl:tracking-[-3px]">
      {SITE_OWNER}
    </h3>
    <h4 class="mb-4 py-1 text-base md:py-2 lg:text-lg">
      Experienced developer who loves working with cutting-edge technologies. I write about stuff I like. I love animals.
    </h4>
    <span class="flex flex-1 text-white text-opacity-50">
      alexuix.design &copy; 2016-{today.getFullYear()}
      {SITE_OWNER} · All rights reserved · My website doesn&apos;t use any Cookies · It&apos;s built with 🚀 Astro and Sanity
    </span>
  </div>
  <Logo class="mt-10 text-4xl 2xl:ml-auto 2xl:mt-0" />
</footer>
