---
import classNames from 'classnames'
import FooterLink from 'src/components/FooterLink.astro'
import { CONTACT_EMAIL_ADDRESS, FOOTER_LINKS } from 'src/config'
import type { StyleVariantType } from 'src/types'

type Props = StyleVariantType
const { variant } = Astro.props
---

<footer class={classNames('w-full', `${variant ? 'bg-secondary' : 'bg-primary'}`)}>
  <div
    class={classNames(
      'container mx-auto flex w-full flex-col items-center justify-between gap-8 border-t px-5 py-14 md:flex-row md:gap-0 md:px-10 lg:px-12',
      `${variant ? 'text-black' : 'text-white'}`,
      `${variant ? 'border-black' : 'border-white'}`,
    )}
  >
    <a
      class={classNames(
        'text-lg font-bold leading-7 tracking-wide md:text-xl lg:text-2xl lg:leading-7',
        `${variant ? 'hover:opacity-80' : 'hover:text-secondary'}`,
      )}
      href=`mailto:${CONTACT_EMAIL_ADDRESS}`
      rel="noopener noreferrer">{CONTACT_EMAIL_ADDRESS}</a
    >
    <ul
      class="flex items-center gap-2 text-lg font-bold uppercase leading-7 tracking-wide md:gap-8 md:text-xl lg:gap-28 lg:text-2xl lg:leading-7"
    >
      {FOOTER_LINKS.map((link) => <FooterLink {...link} variant={variant} />)}
    </ul>
  </div>
</footer>
