---
import Logo from './Logo.astro'
import Navigation from './Navigation.astro'
import { MenuButton } from 'src/components/react'
---

<header class="w-full bg-primary">
  <div class="container mx-auto flex items-center justify-between border-b border-white px-5 py-8 md:px-10 md:py-0 lg:px-12">
    <Logo />
    <MenuButton client:only />
    <div class="hidden list-none flex-row md:flex">
      <Navigation />
    </div>
  </div>
</header>
