---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { class: classNames, ...props } = Astro.props
---

<a {...props} class:list={['font-tektur font-bold', classNames]} href="/"><img src="../src/assets/logo.svg" alt="logo.svg" /></a>
