---
import type { NavigationLinkType } from 'src/types'
import Link from './Link.astro'

import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & NavigationLinkType

const { href, label } = Astro.props
---

<li>
  <Link class="group text-lg font-bold uppercase tracking-wide text-white hover:text-secondary md:text-xl lg:text-2xl" href={href}>
    {label}
  </Link>
</li>
