---
import { NAVIGATION_LINKS } from 'src/config'
import NavigationLink from './NavigationLink.astro'
import type { StyleVariantType } from 'src/types'

export type Props = StyleVariantType

const props = Astro.props
---

<section class="flex flex-col items-center gap-4 py-4 md:flex-row md:py-8">
  <div class="flex items-center">
    {NAVIGATION_LINKS.map((link) => <NavigationLink {...props} {...link} />)}
  </div>
  <a
    href="/contact"
    class="rounded-full border border-black bg-secondary px-6 py-3 text-lg font-bold uppercase tracking-wide text-black hover:bg-black hover:text-secondary md:text-xl lg:text-2xl"
    >Say Hello</a
  >
</section>
