---
import Link from './Link.astro'

import type { HTMLAttributes } from 'astro/types'
type Props = HTMLAttributes<'a'> & {
  label: string
}

const { href, label } = Astro.props
---

<li>
  <Link class="group" href={href}>
    <span class="font-bold uppercase md:text-xl text-lg lg:text-2xl tracking-wide">{label}</span>
  </Link>
</li>
