---
import BaseHead from 'src/components/BaseHead.astro'
import Footer from 'src/components/Footer.astro'
import Header from 'src/components/Header.astro'
import Navigation from 'src/components/Navigation.astro'
import { Cover, MobileMenu } from 'src/components/react'

type Props = { title: string; description: string; errorPage?: boolean; headerStyle?: boolean; footerStyle?: boolean }

const { title, description, errorPage, headerStyle, footerStyle } = Astro.props
---

<!doctype html>
<html lang="en" class="bg-primary">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    {
      errorPage ? (
        <main class="flex h-screen w-screen flex-col items-center justify-center">
          <slot />
        </main>
      ) : (
        <>
          <Cover client:load />
          <MobileMenu client:load>
            <Navigation />
          </MobileMenu>

          <div class="flex flex-col">
            <Header styling={headerStyle} />
            <slot />
            <Footer styling={footerStyle} />
          </div>
        </>
      )
    }
  </body>
</html>
