---
import BaseHead from 'src/components/BaseHead.astro'
import Footer from 'src/components/Footer.astro'
import Header from 'src/components/Header.astro'
import Navigation from 'src/components/Navigation.astro'
import { Cover, MobileMenu } from 'src/components/react'

type Props = { title: string; description: string; errorPage?: boolean }

const { title, description, errorPage } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    {
      errorPage ? (
        <main class="flex flex-col items-center justify-center w-screen h-screen">
          <slot />
        </main>
      ) : (
        <div class="w-full">
          <Cover client:load />
          <MobileMenu client:load>
            <Navigation />
          </MobileMenu>
          <div class="container bg-primary mx-auto flex flex-col">
            <Header />
            <slot />
            <Footer />
          </div>
        </div>
      )
    }
  </body>
</html>
